{% block privecy %}
<!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Privacy Policy</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Privacy Policy</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


    <!-- Privacy Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="text-container">
                        <h3>Private Data We Receive And Collect</h3>
                        <p>The source provides a place to share the data and sources you want to publish. This information is public and you acknowledge that its use and sharing to the public is unrestricted and that SrcFount is not responsible for its maintenance or upkeep.</p>
                        <p>You will also cooperate with us in the field of making your own software. This software is only for use in the cooperative environment and its rating or sale is subject to the license of SrcFount and the consent of other members, and SrcFount has the right to use it outside if it detects its use. Blocks the program from cooperative purposes and reserves the right to sue</p>
                        <p>Providing your information to SrcFount, for example, the operating system used by IP and other information is only necessary to build better proprietary software, and you confirm that you have provided the information to ScrFount with full satisfaction when you register on the site.  We need information:</p>

                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-unstyled li-space-lg indent">
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Company or representative name or full name, email address and membership type</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Application form and information filling</div>
                                    </li>

                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Send the requested samples in relation to your work</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Other information submitted by you or your organizational representatives via various methods</div>
                                    </li>
                                </ul>
                            </div> <!-- end of col -->
                            <!--
                            <div class="col-md-6">
                                <ul class="list-unstyled li-space-lg indent">
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Your billing address and any necessary other information to complete any financial transaction, and when making purchases through the Services, we may also collect your credit card or PayPal information</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">User generated content (such as messages, posts, comments, pages, profiles, images, feeds or communications exchanged on the Supported Platforms)</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Images or other files that you may publish via our Services</div>
                                    </li>
                                    <li class="media">
                                        <i class="fas fa-square"></i>
                                        <div class="media-body">Information (such as messages, posts, comments, pages, profiles, images) we may receive relating to communications you send us, such as queries or comments concerning</div>
                                    </li>
                                </ul>
                            </div>  end of col -->

                        </div> <!-- end of row -->
                    </div> <!-- end of text-container-->

                    <div class="text-container">
                        <h3>How We Use SrcFount Cooperative</h3>
                        <p>Membership in SrcFount is done according to these rules:</p>
                        <ol class="li-space-lg">
                            <li>Each member must be both a servant and a client. Because for balance, everyone must help each other. Even if the service is repetitive, from our point of view each person is unique. Companies form a joint working group with similar services , and it is based on mutual cooperation.</li>
                            <li>Each member publicly discloses part of their activities, data and services. It is valued and published by Src Fount. Of course, after reviewing and consulting with other members.</li>
                            <li>Src Fount tries to pay attention to the simultaneous growth of the members. The goal is to maintain a balance between companies and startups, and the partnership between them is to try to implement a learning environment and exchange experiences in Src Fount.</li>
                            <li>Gradual and sustainable development is also one of the goals of Src Fount. Src Fount tries to solve problems in a group.</li>
                            <li>Src Fount sees profitability in better quality public services; Thus, public growth is a priority. Members are committed to helping new members improve and be productive; To improve the quality of services in line with the growth of members.</li>
                            <li>Protecting the privacy of individuals, companies, startups, is an integral part of the Src Fount environment. Also information security reviews activities and their assistance and control.</li>
                            <li>Src Fount also tries to simplify environments, tools and programs. If several small and simple programs but with the ability to connect to each other can do the work of one program, the priority of several simple programs is; Because both debugging is easier, development capabilities are more logical and better, and participation in building more companies is considered.</li>
                        </ol>
                    </div> <!-- end of text-container -->



                    <div class="row">
                        <div class="col-md-6">
                            <div class="text-container last">
                                <h3>If you have another question</h3>
                                <p>About the data you want to share.</p>
                                <p>Also required software environment. The operating system you work with.</p>
                                <p>If you entered the information incorrectly and you want to delete it or you want to know what information you have shared in the source, put your message here.</p>
                            </div> <!-- end of text container -->
                        </div> <!-- end of col-->
                        <div class="col-md-6">

                            <!-- Privacy Form -->
                            <div class="form-container">
                                <form id="privacyForm" data-toggle="validator" data-focus="false">
                                    <div class="form-group">
                                        <input type="text" class="form-control-input" id="pname" required>
                                        <label class="label-control" for="pname">Name</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control-input" id="pemail" required>
                                        <label class="label-control" for="pemail">Email</label>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control-select" id="pselect" required>
                                            <option class="select-option" value="" disabled selected>Select Option</option>
                                            <option class="select-option" value="Delete data">Delete my data</option>
                                            <option class="select-option" value="Show me data">Show me my data</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group checkbox">
                                        <input type="checkbox" id="pterms" value="Agreed-to-Terms" required>I have read and agree to SrcFount's <a href="privacy-policy.html">Privacy Policy</a> and <a href="terms-conditions.html">Terms Conditions</a>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control-submit-button">SUBMIT</button>
                                    </div>
                                    <div class="form-message">
                                        <div id="pmsgSubmit" class="h3 text-center hidden"></div>
                                    </div>
                                </form>
                            </div> <!-- end of form container -->
                            <!-- end of privacy form -->

                        </div> <!-- end of col-->
                    </div> <!-- end of row -->
                    <a class="btn-outline-reg back" href="index.html">BACK</a>
                </div> <!-- end of col-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-2 -->
    <!-- end of privacy content -->


    <!-- Breadcrumbs -->
    <div class="ex-basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumbs">
                        <a href="index.html">Home</a><i class="fa fa-angle-double-right"></i><span>Privacy Policy</span>
                    </div> <!-- end of breadcrumbs -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of breadcrumbs -->


{% endblock %}