{% block Service%}

<!-- Services -->
    <div id="services" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Business Expansion Services</h2>
                    <p class="p-heading p-large">Your company connects with other institutions, companies, startups and cooperates in the expansion of your company, and you also provide your services to them.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="/static/images/1-chat.svg" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Introduce the company</h4>
                            <p>We will review your facilities and needs and consult with you to analyze what you need and what you can do</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="/static/images/2-software.svg" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Application design</h4>
                            <p>A dedicated program is designed for you to connect and share data with you and others</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <img class="card-image" src="/static/images/3-data.svg" alt="alternative">
                        <div class="card-body">
                            <h4 class="card-title">Start of activity</h4>
                            <p>After starting the activity, the feedback is checked to gradually develop and grow in proportion to the movement</p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of services -->

{% endblock %}