{% block Text %}
    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Thank you for Filling our form</h1>
                    <h2>We Survey as soon as posible your request</h2>
                    <p>If you have any question go to Home page and fill the Connection part</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <a class="btn-outline-reg back" href="index.html">BACK</a>
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->
{% endblock %}